.contact header {
  display: flex;

  font-size: clamp(22px, 4vw, 32px);
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.contact header span {
  height: 2px;
  width: 20%;
  background-color: grey;
}
.contact .briefing {
  color: var(--text_color);
}
.contact {
  width: 85%;

  height: 100dvh;
}
.contact a {
  text-decoration: none;
  color: var(--accent_two);
}
.contact .contact-info {
  margin-top: 20px;
  background-color: rgba(128, 0, 128, 0.555);
  height: 250px;

  gap: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact .contact-info div {
  height: 100%;
}
.contact .contact-info .image {
  display: block;
  padding-top: 20px;
  text-align: right;
}
.contact .contact-info .image span {
  display: inline-block;
  aspect-ratio: 1/1;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
}
.contact .contact-info .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact .contact-info h2 {
  font-size: clamp(20px, 4vw, 28px);
}
.contact .contact-info .info {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .contact .contact-info {
    height: 170px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .contact .contact-info .image span {
    height: 80px;
    width: 80px;
  }
}
