:root {
  --primary_color: hsl(0, 0%, 0%);
  --secondary_color: hsl(275, 82%, 54%);
  --accent_color: hsl(293, 61%, 63%);
  --accent_two: hsl(51, 91%, 78%);
  --text_color: hsla(0, 0%, 100%, 0.5);
  --text_color_strong: hsla(0, 0%, 100%, 0.699);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: none;
  font-family: "Montserrat", sans-serif;
}

body {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  object-fit: cover;

  aspect-ratio: 1/1;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary_color);

  padding-top: 100px;

  justify-content: center;
  display: flex;
  align-items: flex-start;
  position: relative; /* container for absolutely-positioned sections so they can overlap during transitions */
}
@media screen and (max-width: 768px) {
  .wrapper {
    min-height: 100dvh;
  }
}
section {
  display: none;
}
section.visible {
  display: block;
}
